  p {
    font-size: 1.2em;
    color: #171717
  }

  :root {
  --primary-color: #e8e6df;
  --secondary-color: #e8e6df;
  --complimentary-color: #e8e6df;
  --contrast-color: #e8e6df;
  --light-color: #e8e6df;
  }
  
  .container {
    background: #e8e6df; /* page transition color */
    min-height: 100vh;
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  
  nav a {
      font-size: 40px;
      color: #171717;
      text-decoration: none;
      padding: 20px;
      text-align: center;
  }
  
  nav {
      position: fixed;
      left: 0;
      z-index: 50;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 100vh;
      background: var(--secondary-color);
  }

  section {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 0;
      opacity: 0;
      transition: all ease-in .5s;
      display: flex;
      justify-content: center;
      align-items: end;
  } 
  
  section h1 {
      color: #171717;
      font-size: 40px;
    /*text-transform: uppercase;*/
      opacity: 0;
      text-align: center;
  }
  
  /* Styles applied on trigger */
  section:target {
      opacity: 1;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
  }
  
  section:target h1 {
      opacity: 0;
      animation: 2s fadeIn forwards .5s;
  }
  
  #first {
    background:var(--primary-color);
  }
  #second {
      background: var(--complimentary-color);
  }
  
  #third {
      background: var(--contrast-color);
  }
  
  #fourth {
      background: var(--light-color);
  }
  
  .first-content {
    width: 50%;
  }



  @keyframes fadeIn {
      100% { opacity:1 }
  }
/* main menu end*/
/* social icons start*/
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}
/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 
.social-icons .fa-adn{background-color:#504e54;} 
.social-icons .fa-apple{background-color:#aeb5c5;} 
.social-icons .fa-android{background-color:#A5C63B;}
.social-icons .fa-aws{background-color:#FF9900;}  
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;} 
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;} 
.social-icons .fa-css3{background-color:#1572B7;} 
.social-icons .fa-dribbble{background-color:#F46899;}  
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;} 
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;} 
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-js{background-color:#F0DB4F;} 
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-mug-hot{background-color:#B77729;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;} 
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-rocket{background-color:#DD3224;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-stack-overflow{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;} 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-react{background-color:#61DBFB;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}
/* social icons end*/
/* like button start */
.like__btn {
    padding: 10px 15px;
    background: transparent;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #43464B;
    outline: none;
    border: none;
    cursor: pointer;
  }
  /* like button end */
  /* start Asteroids Tooltip container */
.tooltip1 {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 400px;
    background-color: #171717;
    color: #fff;
    /*text-align: center;*/
    padding: 25px 25px 25px 35px;
    border-radius: 6px;
    margin-top: 40px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip1:hover .tooltiptext1 {
    visibility: visible;
  }
  .tooltip2 {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 720px;
    background-color: #171717;
    color: #fff;
    /*text-align: center;*/
    padding: 25px 25px 25px 35px;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: -600px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    text-align: left;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip2:hover .tooltiptext2 {
    visibility: visible;
  }
  /* end Asteroids Tooltip container */
/* start section 2*/


/* end section 2 */
/* start digital art */
.row {
    width: 80%;
    padding: 0 20px 20px 20px;
}

.left-col {
    min-height: 100vh;
    width: 25%;
    float: left;
    text-align: center;
    padding: 30px 0 0 0;
}

.center-col {
    background-color: #333;
    width: 75%; /*change when right-col is added back in*/
    min-height: 100vh;
    float: left;
}

.right-col {
    display: none;
    background-color: #444;
    min-height: 100vh;
    width: 25%;
    float: left;
}

h1 {
    font-size: 4rem;
    color: #fff;
    margin: 1.5rem;
}

h2 {  
    font-size: 1.1rem;
    font-weight: 700;
    color: #171717;
    margin: 16px auto 8px auto;
}

table {
    border: 4px solid #888;
    border-collapse: collapse;
    margin: 30px auto 60px auto;
    background-color: #fff;
}

tr,
td {
    border: 1px solid #aaa;
}

.transparentBorder {
    border: 1px solid transparent;
}

tr {
    height: 18px; 
}

td {
    width: 18px;
}

td:hover {
    background-color: rgba(220, 220, 220, 0.5);
}

input[type=number] {
    background-color: #444;
    height: 40px;
    width: 43%;
    margin: 1.5%;
    border: 0;
    border-bottom: 1px solid #666;
    color: #fff;
    font-size: 1.1rem;
    padding-left: 20%;
    outline: none;
}

input[type=number]:hover {
    border-bottom: 1px solid #888;
}

/* feature buttons */

div[class^="button"] {
    background-color: #666;
    border: 1px solid #777;
    border-radius: 8px;
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;   
    margin: 1.5%;
    padding: 5px;
    height: 40px;
    cursor: pointer;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
}

button[class^="button"] {
    background-color: #666;
    border: 1px solid #777;
    border-radius: 8px;
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;   
    margin: 1.5%;
    padding: 5px;
    height: 40px;
    cursor: pointer;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
}

.button-1 {
    width: 97%;
}

.button-2 {
    width: 46%;
}

.button-3 {
    width: 29%;
}

.button-4 {
    width: 22%;
}

.active {
    background-color: #999 !important;
}

.save {
    margin-bottom: 40px !important;
}

div[class^="button"]:hover {
    background-color: #888;
}

.label-2 {
    background-color: #444;
    border: 1px solid #666;
    border-radius: 8px;
    display: inline-block;
    font-size: 1.3rem;
    color: #fff;   
    margin: 1.5%;
    padding: 5px;
    height: 40px;
    width: 43%;
}

.smaller-font {
    font-size: 1.1rem !important;   
}

.larger-font {
    font-size: 3rem;
}

/* Responsiveness */

@media screen and (max-width: 1040px) {
    .left-col {
        width: 30%;
    }

    .center-col {
        width: 70%;
    }
}

@media screen and (max-width: 860px) {
    .left-col {
        width: 100%;
    }

    .center-col {
        width: 100%;
    }

    h1 {
        position: fixed;
        background-color: #333;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 8px;
        box-shadow: 0 .5rem 1rem rgba(50,50,50,0.5);
    }

    .first-section-header {
        margin-top: 120px;
    }
}

@media screen and (max-width: 585px) {

    .first-section-header {
        margin-top: 160px;
    }

    h1 {
        font-size: 3.25rem;
    }

}
/*digital art end*/
/*button start*/

  .custom-btn {
    width: 180px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-16 {
    border: none;
    color: #000;
  }
  .btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-16:hover {
    color: #000;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
  }


/*button end*/

.faq-container {
    margin: 0 auto;
    padding: 1rem 4rem 1rem;
    width: 48rem;
    margin-left: -60px;
  }
  
  .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }
  .accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid #03b5d2;
  }
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  .accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: #03b5d2;
  }
  .accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
  }
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  .accordion button[aria-expanded=true] {
    color: #03b5d2;
  }
  .accordion button[aria-expanded=true] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }
